/* Main Body*/
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

/* FONTS */
h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}

p, h3 {
    font-family: 'Fira Sans', sans-serif;
}

h4 {
    font-size: 1.5rem;
}

.intro-heading { 
    width: 100%;
}


/*Mobile Header and Menu*/


.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #396361;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: .4em;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #fff;
    height: 70px;
    line-height: 70px;
}
/* Sections Style*/

section {
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    color: #fff;
}

.container {
    margin: 50px;
}

#about, #services, #portfolio {
    padding: 100px 0px;
}

#intro-section {
    background-image: url('Assets/patrick-bald-730896-unsplash.jpg');
    box-shadow:inset 0 0 0 2000px rgba(63,176,172,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
}

#intro-section, #contact, .container-services, .home, .about, .box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
}

#services {
    padding: 0;
    margin-bottom: -200px;
    text-align: center;
}
#contact {
    min-height: 100vh;
    justify-content: center;
    padding: 0px;
}

#about, #portfolio, .row {
    background-color: #fff;
    color: #396361;
}

.container-services {
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
}

.home {
    padding: 0 60px;   
}

.arrow {
    position: absolute;
    bottom: 5%;
    width: 40px;
    height: 40px;
    background-image: url(Assets/downa_arrow.png);
    background-size: contain;
    cursor: pointer;
}
.home, .about {
    min-height: 80vh;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(Assets/logo_white.png);
    background-size: contain;
    position: relative;
}

.row {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    top: -300px;
    left: auto;
    color: #000;
    z-index: 2;
}

.services-title, #contact {
    background-color: #3FB0AC;
}

.services-title {
    height: 250px;
    padding: 100px 0;
    width: 100%;
}

/* Portfolio Image Elements */
.portfolio-images {
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
}

.ipad {
    width: 90%;
}
.mobileimg {
    position: absolute;
    width: 30%;
    bottom: -45px;
    right: 0px;
}

/* Button */

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin: 50px;
}

.ghost-button-transition {
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #759391;
    border: 2px solid #759391;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
    background-color: #759391;
    color: #fff;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.ghost-button-transition::after {
    margin-right: 20px;
}

/* Icons */

.fa-times, .fa-linkedin-in, .fa-github, .fa-envelope  {
    color: #fff;
}

.fa-bars {
    color: lightgray;
}

.services-icon {
    width: 150px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.box1, .box2, .box3 {
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;

}
.devicon {
    background-image: url(Assets/webdev_icon.png);
}

.mobileicon {
    background-image: url(Assets/mobile_icon.png);
}

.codeicon {
    background-image: url(Assets/code_icon.png);
}

.social-icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Animations */

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
  }

  @-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@media only screen and (max-width: 767px) {
    .desktop, .menu-desktop, .header-logo, .menu-mobile {
        display: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    .container {
        width: 50%;
    }

    #portfolio {
        top: -150px;
    }

    #contact {
        padding: 50px 0;
        min-height: 0;
    }

    .social-icons {
        justify-content: space-around;
    }

    .row {
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
        padding-top: 60px;
        display: flex;
        flex-direction: row;
    }

    .services-title {
        margin-bottom: 100px;
    }

    .services-icon {
        width: 75px;
    }

    .box1, .box2, .box3 {
        flex-direction: column;
        flex: 1;
    }

    .center {
        margin: 0 auto;
        text-align: center;
    }

    .about, .center {
        justify-content: center;
    }

    .menu-desktop {
        width: 100%;
        padding: 0;
        line-height: 50px;
        background-color: #396361;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        letter-spacing: .4em;
        font-family: 'Raleway', sans-serif;
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        color: #fff;
        justify-content: space-evenly;
    }
    
    .button {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 50px 0px;
    }

    .desktop {
        background-color: #396361;
        opacity: .75;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: none;
    }

    header.nav, .menu-mobile {
        display: none;
    }

    header.desktop img {
        height: 50px;
        margin-left: 30px;
    }

}

